<div class="bar-chart-container">
  {{ yield }}
</div>

<script>
import HoverToolTip from "./HoverToolTip.html"
var d3 = require("d3")

export default {
  data () {
    return {
      dataset: {},
      size: {},
      selector: "",
      svg: undefined,
      scales: undefined,
      axes: undefined,
      barWidth2: 20,
      options: {},
    }
  },
  computed: {
    barWidth (size, scales) {
      let w = (size.adj_width / scales.x.domain()[1])
      if (w < 5) {
        return w
      }
      return w - 5
    },
    hoverData (dataset, scales, size, barWidth, svg, selector) {
      return {
        dataset: dataset,
        scales: scales,
        size: size,
        selector: selector,
        hoverWidth: barWidth,
      }
    },
  },
  methods: {
    createAxes () {
      let size, yaxis, xaxis, d, svg, scales, opts
      svg = this.get("svg")
      d = this.get("dataset")
      size = this.get("size")
      scales = this.get("scales")
      opts = this.get("options")
      
      yaxis = d3.axisLeft(scales.y)
          .ticks(opts.ticks.count_y)
          .tickFormat((d) => `${opts.ticks.format.y.pre}${d}${opts.ticks.format.y.suf}`)
      xaxis = d3.axisBottom(scales.x)
          .ticks(opts.ticks.count_x)
          .tickFormat((d) => `${opts.ticks.format.x.pre}${d}${opts.ticks.format.x.suf}`)

      svg = svg.append("g").attr("transform", `translate(${size.margin}, ${size.margin})`)
      svg.append("g")
        .attr("class", "y-axis")
        .call(yaxis)
      svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", `translate(0, ${size.adj_height})`)
        .call(xaxis)

      this.set({
        axes: {x: xaxis, y: yaxis},
        svg: svg
      })
    },
    drawBars (xset, yset, color="green") {
      let svg = this.get("svg")
      let size = this.get("size")
      let scales = this.get("scales")
      let barwidth = this.get("barWidth")
      svg = svg.append("g").selectAll("rect").data(xset)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("fill", color)
          .attr("width", barwidth)
          .attr("height", (d,i) => size.adj_height - scales.y(yset[i]))
          .attr("y", (d,i) => scales.y(yset[i]))
      if (scales.x.step) { // adjust bars for a scaleBand
        svg.attr("x", (d) => scales.x(d) + (scales.x.step() / 2) - (barwidth / 2))
      } else {
        svg.attr("x", (d) => scales.x(d) - (barwidth / 2))
      }
    },
    drawBarStack (xset, yset) {
      let data = this.get("dataset")
      let svg = this.get("svg")
      let opts = this.get("options")
      let size = this.get("size")
      let scales = this.get("scales")
      let barwidth = this.get("barWidth")
      let g = svg.append("g")
          .attr("transform", `translate(${0},${0})`)
        .selectAll("g").data(xset)
          .enter().append("g")
            .attr("class", "bar-stack")
      let coloridx = 0
      let h = new Array(xset.length)
      data.colors = {}
      data.pos = JSON.parse(JSON.stringify(data.y))
      for (let k of Object.keys(yset)) {
        data.colors[k] = d3.schemeCategory10[coloridx]
        g.append("g")
            .attr("class", "segment-container")
            .attr("transform", (d,i) => {
              h[i] = (h[i]) ? h[i] - (size.adj_height - scales.y(yset[k][i])) : scales.y(yset[k][i])
              let x = scales.x(d) - (barwidth  / 2)
              data.pos[k][i] = {x: x, y: h[i]}
              return `translate(${x}, ${h[i]})`
            })
            //.attr("data-key", k)
            //.attr("data-index", (d,i) => i)
          .append("rect")
            .attr("class", "bar-segment")
            .attr("id", (d,i) => `segment_${k}_${i}`)
            .attr("fill", d3.schemeCategory10[coloridx])
            .attr("width", barwidth)
            .attr("height", (d,i) => size.adj_height - scales.y(yset[k][i]))
        coloridx++
      }
      if (!opts.hovertooltip) {
        this.drawHoverToolTip()
      }
    },
    drawHoverToolTip () {
      let o = this.get("options")
      let data = this.get("dataset")
      let size = this.get("size")
      let scales = this.get("scales")
      let bw = this.get("barWidth")
      let svg = this.get("svg")
      let f = o.ticks.format
      let g = svg.append("g").selectAll("g")
          .data(data.x)
        .enter().append("g")
          .attr("class", "bar-stack-hover")
      for (let k of Object.keys(data.y)) {
        g.append("g")
          .attr("class", "segment-container")
          .attr("data-ki", (d,i) => `${k}:${i}`)
          .attr("transform", (d,i) => {
            return `translate(${data.pos[k][i].x}, ${data.pos[k][i].y})`
          })
      }
      g.selectAll(".segment-container").append("rect")
        .attr("class", "hover-tool-tip")
        .attr("fill", (d,i,n) =>{
          let k = n[i].parentElement.dataset.ki.split(":")
          return data.colors[k[0]]
        })
        .attr("width", bw + 4)
        .attr("height", (d,i,n) => {
          let k = n[i].parentElement.dataset.ki.split(":")
          return size.adj_height - scales.y(data.y[k[0]][k[1]])
        })
        .attr("x", -2)

      let tip = g.selectAll("g.segment-container")
        .append("foreignObject")
          .attr("class", "tipFO")
          .attr("data-ki", (d,i,n) => n[i].parentElement.dataset.ki)
          .attr("x", bw + 4)
          .attr("y", (d,i,n) => {
            let ki = n[i].parentElement.dataset.ki.split(':')
            if (data.pos[ki[0]][ki[1]].y >= (size.adj_height - 5)) {
              return -10
            }
            return 0
          })

      tip.append("xhtml:head")
      tip.append("xhtml:body")
        .append("span")
          .attr("class", "tip-span")
          .text((d,i,n) => {
            let k = n[i].parentElement.parentElement.dataset.ki.split(":")
            return `${f.x.pre}${d}${f.x.suf}-${f.y.pre}${data.y[k[0]][k[1]]}${f.y.suf}`
          })
    },
    drawKey () {
      let data = this.get("dataset")
      let size = this.get("size")
      let svg = this.get("svg")
      let key_size = 50
      let key_height = 10
      let key_spacing = 15
      let g = svg.append("g")
          .attr("transform", `translate(${size.adj_width - key_size},${0})`)
          .selectAll("g")
        .data(Object.values(data.colors))
          .enter().append("g")
          .attr("transform", (d,i) => `translate(0, ${i * key_spacing})`)
      g.append("rect")
        .attr("class", "key-color")
        .attr("width", key_height)
        .attr("height", key_height)
        .attr("y", -key_height)
        .attr("fill", (d) => d)
      g.append("text")
        .attr("class", "key-name")
        .attr("x", key_height + 5)
        .style("font-size", key_height)
        .text((d,i) => Object.keys(data.colors)[i])

    },
  },
  oncreate () {
    let opts = this.get("options")
    let selector = this.get("selector")
    let data = this.get("dataset")
    this.set({
      svg: d3.select(`#${selector}`)
    })
    this.createAxes()
    if (opts.stacked) {
      this.drawBarStack(data.x, data.y)
      this.drawKey()
    } else {
      this.drawBars(data.x, data.y)
    }
  },
  components: {
    HoverToolTip
  }
}
</script>

<style>
.hover-tool-tip-value {
  font-family: "Courier New", courier, monospace;
  font-size: 10pt;
}
.hover-tool-tip-value,
.hover-tool-tip-value-box {
}
.hover-tool-tip,
.hover-tool-tip-value,
.hover-tool-tip-value-box {
  opacity: 0;
}
.hover-tool-tip:hover,
.hover-tool-tip:hover ~ .hover-tool-tip-value-box {
  opacity: 0.5;
}
.hover-tool-tip:hover ~ .hover-tool-tip-value,
.hover-tool-tip:hover ~ .tipFO {
  visibility: visible;
  display: block;
}
.tipFO {
  position: relative;
  display: none;
}
.tip-span {
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 2px 5px;
  width: 100%;
  height: 100%;
  font-size: 10pt;
}
</style>
