<div class="bar-chart-container">
  <h3>barrs</h3>
  {{ yield }}
</div>

<script>
var d3 = require("d3")
export default {
  data () {
    return {
      dataset: {},
      size: {},
      selector: "",
      svg: undefined,
      scales: undefined,
      axes: undefined,
    }
  },
  computed: {
  },
  methods: {
    createAxes () {
      let size, h, w, y, x, yaxis, xaxis, d, svg, scales, xmax, ymax
      svg = this.get("svg")
      d = this.get("dataset")
      size = this.get("size")
      scales = this.get("scales")
      console.log("scales", scales)
      h = size.height - (2 * size.margin) // adjust the chart to account for margings.
      w = size.width - (2 * size.margin)
      
      yaxis = d3.axisLeft(scales.y)
          .ticks(d.y.length)
          .tickFormat((d) => d)
      xaxis = d3.axisBottom(scales.x)
          .ticks(d.x.length)
          .tickFormat((d) => d)

      svg = svg.append("g").attr("transform", `translate(${size.margin}, ${size.margin})`)
      svg.append("g")
        .attr("class", "y-axis")
        .call(yaxis)
      svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", `translate(0, ${h})`)
        .call(xaxis)

      this.set({
        axes: {x: xaxis, y: yaxis},
        svg: svg
      })
    },
    drawBars: function () {
      let svg = this.get("svg")
      let data = this.get("dataset")
      let size = this.get("size")
      let scales = this.get("scales")
      svg.append("g").selectAll("rect").data(data.x)
        .enter().append("rect")
          .attr("class", "bar")
          .attr("fill", "green")
          .attr("width", 20)
          .attr("x", (d,i) => scales.x(d))
          .attr("height", (d,i) => size.adj_height - scales.y(data.y[i]))
          .attr("y", (d,i) => scales.y(data.y[i]))
    },
  },
  oncreate () {
    let selector = this.get("selector")
    this.set({
      svg: d3.select(`#${selector}`)
    })
    this.createAxes()
    this.drawBars()
  }
}
</script>

<style>
</style>
