<div class="line-chart-container">
  {{ yield }}
</div>

<script>
var d3 = require("d3")
var $ = require("jquery")

export default {
  data () {
    return {
      dataset: {},
      size: {},
      selector: "",
      axes: undefined,
      svg: undefined,
      scales: undefined,
      dotRadius: 4,
      options: {},
    }
  },
  methods: {
    createAxes () {
      let size, yaxis, xaxis, d, svg, scales, opts
      svg = this.get("svg")
      d = this.get("dataset")
      size = this.get("size")
      scales = this.get("scales")
      opts = this.get("options")
      
      yaxis = d3.axisLeft(scales.y)
          .ticks(opts.ticks.count_y)
          .tickFormat((d) => `${opts.ticks.format.y.pre}${d}${opts.ticks.format.y.suf}`)
      xaxis = d3.axisBottom(scales.x)
          .ticks(opts.ticks.count_x)
          .tickFormat((d) => `${opts.ticks.format.x.pre}${d}${opts.ticks.format.x.suf}`)

      svg = svg.append("g").attr("transform", `translate(${size.margin}, ${size.margin})`)
      svg.append("g")
        .attr("class", "y-axis")
        .call(yaxis)
      svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", `translate(0, ${size.adj_height})`)
        .call(xaxis)

      this.set({
        axes: {x: xaxis, y: yaxis},
        svg: svg
      })
    },
    drawPoints (xset, yset, color="green") {
      //let data = this.get("dataset")
      let size = this.get("size")
      let axis = this.get("axis")
      let scales = this.get("scales")
      let svg = this.get("svg")
      let radius = this.get("dotRadius")
      let s = svg.append("g").selectAll("circle").data(xset)
        .enter().append("circle")
          .attr("class", "data-point")
          .attr("fill", color)
          .attr("cy", (d,i) => this.getYCoords(yset[i]))
          .attr("cx", (d) => this.getXCoords(d))
          .attr("r", radius)
      this.set({svg: svg})
    },
    drawLines (xset, yset, color="green") {
      //let data = this.get("dataset")
      let size = this.get("size")
      let axis = this.get("axis")
      let scales = this.get("scales")
      let svg = this.get("svg")
      let s = svg.append("g").selectAll("line").data(xset.slice(0, xset.length - 1))
        .enter().append("line")
          .attr("class", "data-line")
          .attr("stroke", color)
          .attr("stroke-width", 2)
          .attr("y1", (d,i) => this.getYCoords(yset[i]))
          .attr("y2", (d,i) => this.getYCoords(yset[i+1]))
          .attr("x1", (d) => this.getXCoords(d))
          .attr("x2", (d,i) => this.getXCoords(xset[i+1]))
      this.set({svg: svg})
    },
    drawKey (xet, yset, colors) {
      let size = this.get("size")
      let svg = this.get("svg")
      let g = svg.append("g")
          .attr("transform", `translate(${size.width - 100}, ${0})`)
        .selectAll("g").data(Object.keys(yset))
          .enter().append("g")
            .attr("class", "key")
            .attr("transform", `translate(0, 10)`)
      g.append("rect")
        .attr("width", 10)
        .attr("height", 2)
        .attr("fill", (d,i) => colors[i])
      g.append("text")
        .attr("x", 20)
        .text((d) => d)

    },
    getXCoords (value) {
      let scales = this.get("scales")
      let x = scales.x(value)
      if (scales.x.step) {
        x += (scales.x.step() / 2)
      }
      return x
    },
    getYCoords (value) {
      let scales = this.get("scales")
      let y = scales.y(value)
      if (scales.y.step) {
        y += (scales.y.step() / 2)
      }
      return y
    }
  },
  oncreate () {
    let selector = this.get("selector")
    let opts = this.get("options")
    let data = this.get("dataset")
    this.set({
      svg: d3.select(`#${selector}`)
    })
    this.createAxes()
    if (opts.multiline) {
      let m, s
      if (!Array.isArray(data.x) && typeof(data.x) === "object") {
        m = data.x
        s = data.y
      } else if (!Array.isArray(data.y) && typeof(data.y) === "object") {
        m = data.y
        s = data.x
      }
      let i = 0
      data.colors = {}
      for (var k of Object.keys(m)) {
        this.drawPoints(s, m[k], d3.schemeCategory20[i])
        this.drawLines(s, m[k], d3.schemeCategory20[i])
        data.colors[k] = d3.schemeCategory20[i]
        i++
      }
      this.drawKey(data.x, data.y, data.colors)
    } else {
      this.drawPoints(data.x, data.y)
      this.drawLines(data.x, data.y)
    }
  }
}
</script>

<style>
.line-chart-container {
  position: relative;
}
</style>
