<div class="line-chart-container">
  <h3>{{ title }}</h3>
  {{ yield }}
</div>

<script>
var d3 = require("d3")
var $ = require("jquery")

export default {
  data () {
    return {
      dataset: {},
      size: {},
      title: "Line Chart",
      selector: "",
      axes: undefined,
      svg: undefined,
      scales: undefined,
      dotRadius: 4,
    }
  },
  methods: {
    createAxes () {
      let size, yaxis, xaxis, d, svg, scales
      svg = this.get("svg")
      d = this.get("dataset")
      size = this.get("size")
      scales = this.get("scales")
      
      yaxis = d3.axisLeft(scales.y)
          .ticks(d.y.length)
          .tickFormat((d) => d)
      xaxis = d3.axisBottom(scales.x)
          .ticks(d.x.length)
          .tickFormat((d) => d)

      svg = svg.append("g").attr("transform", `translate(${size.margin}, ${size.margin})`)
      svg.append("g")
        .attr("class", "y-axis")
        .call(yaxis)
      svg.append("g")
        .attr("class", "x-axis")
        .attr("transform", `translate(0, ${size.adj_height})`)
        .call(xaxis)

      this.set({
        axes: {x: xaxis, y: yaxis},
        svg: svg
      })
    },
    drawPoints () {
      let data = this.get("dataset")
      let size = this.get("size")
      let axis = this.get("axis")
      let scales = this.get("scales")
      let svg = this.get("svg")
      let radius = this.get("dotRadius")
      let s = svg.append("g").selectAll("circle").data(data.x)
        .enter().append("circle")
          .attr("class", "data-point")
          .attr("fill", "green")
          .attr("cy", (d,i) => this.getYCoords(data.y[i]))
          .attr("cx", (d) => this.getXCoords(d))
          .attr("r", radius)
      this.set({svg: svg})
    },
    drawLines () {
      let data = this.get("dataset")
      let size = this.get("size")
      let axis = this.get("axis")
      let scales = this.get("scales")
      let svg = this.get("svg")
      let s = svg.append("g").selectAll("line").data(data.x.slice(0, data.x.length - 1))
        .enter().append("line")
          .attr("class", "data-line")
          .attr("stroke", "green")
          .attr("stroke-width", 2)
          .attr("y1", (d,i) => this.getYCoords(data.y[i]))
          .attr("y2", (d,i) => this.getYCoords(data.y[i+1]))
          .attr("x1", (d) => this.getXCoords(d))
          .attr("x2", (d,i) => this.getXCoords(data.x[i+1]))
      this.set({svg: svg})
    },
    getXCoords (value) {
      let scales = this.get("scales")
      let x = scales.x(value)
      if (scales.x.step) {
        x += (scales.x.step() / 2)
      }
      return x
    },
    getYCoords (value) {
      let scales = this.get("scales")
      let y = scales.y(value)
      if (scales.y.step) {
        y += (scales.y.step() / 2)
      }
      return y
    }
  },
  oncreate () {
    let selector = this.get("selector")
    this.set({
      svg: d3.select(`#${selector}`)
    })
    this.createAxes()
    this.drawPoints()
    this.drawLines()
  }
}
</script>

<style>
.line-chart-container {
  position: relative;
}
</style>
