<div class="svelte-chart-container" id="{{ selector }}-container">
  <HoverToolTip bind:chartData="hoverData"></HoverToolTip>
  {{#if title}}
    <h3>{{ title }}</h3>
  {{/if}}
  {{#if type === "line"}}
    <LineChart
      size="{{ sizeProp }}"
      dataset="{{ chartData }}"
      scales="{{ setScales }}"
      bind:selector="selector"
      options="{{ opts }}">
      <svg id="{{ selector }}" class="line-chart-inject"></svg>
    </LineChart>
  {{elseif type === "bar"}}
    <BarChart
      size="{{ sizeProp }}"
      dataset="{{ dataset }}"
      scales="{{ setScales }}"
      bind:selector="selector"
      options="{{ opts }}">
      <svg id="{{ selector }}" class="bar-chart-inject"></svg>
    </BarChart>
  {{elseif type === "pie"}}
    <PieChart
      size="{{ sizeProp }}"
      dataset="{{ chartData }}"
      scales="{{ setScales }}"
      bind:selector="selector"
      options="{{ opts }}">
      <svg id="{{ selector }}" class="pie-chart-inject"></svg>
    </PieChart>
  {{/if}}
</div>

<script>
var d3 = require("d3")
var $ = require("jquery")
import LineChart from "./LineChart.html"
import BarChart from "./BarChart.html"
import PieChart from "./PieChart.html"
import HoverToolTip from "./HoverToolTip.html"

export default {
  data () {
    return {
      selector: "",
      type: "line",
      title: undefined,
      size: {
        height: 300,
        width: 800,
        margin: 20 
      },
      dataset: {},
      scales: undefined,
      xyaxis: undefined,
      options: {},
    }
  },
  computed: {
    sizeProp (size) {
      size.adj_height = size.height - (2 * size.margin)
      size.adj_width = size.width - (2 * size.margin)
      return size
    },
    chartData (dataset, nonZeroDataset, opts) {
      if (!opts.show_zeroes) {
        return nonZeroDataset
      }
      return dataset
    },
    setScales (dataset, scales, sizeProp, opts, nonZeroDataset) {
      let data = dataset
      if (!opts.show_zeroes) {
        data = nonZeroDataset
      }
      let xdomain, ydomain, x, y
      let xset = data.x
      if (typeof(xset[0]) === "string") {
        xdomain = xset
        x = d3.scaleBand()
      } else if (typeof(xset[0]) === "number") {
        xdomain = [0, (scales) ? scales.x : d3.max(xset) * 1.334]
        x = d3.scaleLinear()
      }
      // check for multiple data values sets
      let yset = data.y
      if (opts.multiline || opts.stacked) {
        if (Array.isArray(yset)) {
          console.error("Multiline/Stacked charts only accept an object of y-value data")
        }
        yset = []
        if (opts.multiline) {
          // make one big array for checking max value below.
          for (let v of Object.values(data.y)) {
            yset = yset.concat(v)
          }
        } else if (opts.stacked) {
          // sum the arrays for max values of the stacks
          yset = new Array(data.x.length) 
          data.x.forEach((v,i) => {
            for (let u of Object.values(data.y)) {
              yset[i] = (yset[i]) ? yset[i] + u[i] : u[i]
            }
          })
        }
      }
      if (typeof(yset[0]) === "string") {
        ydomain = yset
        y = d3.scaleBand()
      } else if (typeof(yset[0]) === "number") {
        ydomain = [0, (scales) ? scales.y : d3.max(yset) * 1.334]
        y = d3.scaleLinear()
      }
      y = y.domain(ydomain)
          .range([sizeProp.adj_height, 0])
      x = x.domain(xdomain)
          .range([0, sizeProp.adj_width])
      return {x: x, y: y}
    },
    hoverData (dataset, sizeProp, setScales, selector, opts, type, nonZeroDataset, chartData) {
      let data = dataset
      if (!opts.show_zeroes) {
        data = nonZeroDataset
      }
      return {
        dataset: chartData,
        yvalues: data.y,
        xvalues: data.x,
        size: sizeProp,
        scales: setScales,
        selector: selector,
        options: opts,
        type: type,
      }
    },
    nonZeroDataset (dataset, opts) {
      let data = JSON.parse(JSON.stringify(dataset))
      let keys = Object.keys(data.y)
      let non_zero = data.x.map((v,i) => {
        let yvalue 
        if (opts.multiline || opts.stacked) {
          yvalue = []
          for (let k of Object.keys(data.y)) {
            yvalue.push(data.y[k][i])
          }
        } else {
          yvalue = dataset.y[i]
        }
        return {x:v, y:yvalue}
      }).filter((v,i) => {
        if (opts.multiline || opts.stacked) {
          if (v.y.reduce((a, c) => a + c) === 0) {
            return false
          }
        }
        return v.y !== 0
      })
      data.x = []
      data.y = (opts.multiline || opts.stacked) ? {} : []
      non_zero.forEach((v,i) => {
        data.x.push(v.x)
        if (opts.multiline || opts.stacked) {
          keys.forEach((k,j) => {
            if (i === 0) {
              data.y[k] = [v.y[j]]
            } else {
              data.y[k].push(v.y[j])
            }
          })
        } else {
          data.y.push(v.y)
        }
      })
      return data
    },
    opts (options, dataset) {
      let o = options
      if (options.ticks) {
        o.ticks.count_x = (options.ticks.count_x) ? options.ticks.count_x : dataset.x.length 
        o.ticks.count_y = (options.ticks.count_y) ? options.ticks.count_y : dataset.y.length
        let format = {x: {pre: "", suf: ""}, y: {pre: "", suf: ""}}
        if (options.ticks.format.x) {
          for (let k in options.ticks.format.x) {
            format.x[k] = options.ticks.format.x[k]
          }
        }
        if (options.ticks.format.y) {
          for (let k in options.ticks.format.y) {
            format.y[k] = options.ticks.format.y[k]
          }
        }
        o.ticks.format = format
        o.ticks.user_set = true
      } else {
        o.ticks = {
          format: {
            x: {pre: "", suf: ""},
            y: {pre: "", suf: ""},
          },
          count_x: dataset.x.length,
          count_y: dataset.y.length,
          user_set: false,
        }
      }
      if (options.show_zeroes === undefined) {
        o.show_zeroes = true
      }
      if (options.hovertooltip === undefined) {
        o.hovertooltip = true
      }
      if (options.multiline === undefined) {
        o.multiline = false
      }
      if (options.stacked === undefined) {
        o.stacked = false
      }
      if (options.horizontal === undefined) {
        o.horizontal = false
      }
      return o
    }
  },
  methods: {
    setSvg () {
      let size = this.get("size")
      let id = this.get("selector")
      let svg = d3.select(`#${id}`)
          .attr("height", "100%")
          .attr("width", "100%")
          .attr("x", 0)
          .attr("y", 0)
          .attr("viewBox", `0 0 ${size.width} ${size.height}`)
          .attr("preserveAspectRatio", "none")
      this.set({svg: svg})
    },
  },
  oncreate () {
    this.setSvg()
  },
  components: {
    LineChart,
    BarChart,
    PieChart,
    HoverToolTip,
  }
}
</script>


<style scoped>
.svelte-chart-container {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
}
h3 {
  margin: 0;
}
</style>
