<div class="svelte-chart-container" id="{{ selector }}-container">
  <HoverToolTip bind:chartData="hoverData"></HoverToolTip>
  {{#if title}}
    <h3>{{ title }}</h3>
  {{/if}}
  {{#if type === "line"}}
    <LineChart
      size="{{ sizeProp }}"
      dataset="{{ dataset }}"
      scales="{{ setScales }}"
      bind:selector="selector"
      options="{{ opts }}">
      <svg id="{{ selector }}" class="line-chart-inject"></svg>
    </LineChart>
  {{elseif type === "bar"}}
    <BarChart
      size="{{ sizeProp }}"
      dataset="{{ dataset }}"
      scales="{{ setScales }}"
      bind:selector="selector"
      options="{{ opts }}">
      <svg id="{{ selector }}" class="bar-chart-inject"></svg>
    </BarChart>
  {{elseif type === "pie"}}
    <PieChart
      size="{{ sizeProp }}"
      dataset="{{ dataset }}"
      scales="{{ setScales }}"
      bind:selector="selector"
      options="{{ opts }}">
      <svg id="{{ selector }}" class="pie-chart-inject"></svg>
    </PieChart>
  {{/if}}
</div>

<script>
var d3 = require("d3")
var $ = require("jquery")
import LineChart from "./LineChart.html"
import BarChart from "./BarChart.html"
import PieChart from "./PieChart.html"
import HoverToolTip from "./HoverToolTip.html"

export default {
  data () {
    return {
      selector: "",
      type: "line",
      title: undefined,
      size: {
        height: 300,
        width: 600,
        margin: 20 
      },
      dataset: {},
      scales: undefined,
      xyaxis: undefined,
      options: {},
    }
  },
  computed: {
    sizeProp (size) {
      size.adj_height = size.height - (2 * size.margin)
      size.adj_width = size.width - (2 * size.margin)
      return size
    },
    setScales (dataset, scales, sizeProp, opts) {
      if (!opts.show_zeroes) {
        let non_zero = dataset.y.map((v,i) => {
          return {x:dataset.x[i], y:v}
        }).filter((v,i) => {
          return v.y !== 0
        })
        dataset = {x:[], y:[]}
        non_zero.forEach((v) => {
          dataset.x.push(v.x)
          dataset.y.push(v.y)
        })
      }
      let xdomain, ydomain, x, y
      if (typeof(dataset.x[0]) === "string") {
        xdomain = dataset.x
        x = d3.scaleBand()
      } else if (typeof(dataset.x[0]) === "number") {
        xdomain = [0, (scales) ? scales.x : d3.max(dataset.x) * 1.334]
        x = d3.scaleLinear()
      }
      if (typeof(dataset.y[0]) === "string") {
        ydomain = dataset.y
        y = d3.scaleBand()
      } else if (typeof(dataset.y[0]) === "number") {
        ydomain = [0, (scales) ? scales.y : d3.max(dataset.y) * 1.334]
        y = d3.scaleLinear()
      }
      y = y.domain(ydomain)
          .range([sizeProp.adj_height, 0])
      x = x.domain(xdomain)
          .range([0, sizeProp.adj_width])
      return {x: x, y: y}
    },
    hoverData (dataset, sizeProp, setScales, selector, opts, type) {
      if (!opts.show_zeroes) {
        let non_zero = dataset.y.map((v,i) => {
          return {x:dataset.x[i], y:v}
        }).filter((v,i) => {
          return v.y !== 0
        })
        dataset = {x:[], y:[]}
        non_zero.forEach((v) => {
          dataset.x.push(v.x)
          dataset.y.push(v.y)
        })
      }
      return {
        dataset: dataset,
        size: sizeProp,
        scales: setScales,
        selector: selector,
        options: opts,
        type: type,
      }
    },
    opts (options, dataset) {
      let o = options
      if (options.ticks) {
        o.ticks.count_x = (options.ticks.count_x) ? options.ticks.count_x : dataset.x.length 
        o.ticks.count_y = (options.ticks.count_y) ? options.ticks.count_y : dataset.y.length
        let format = {x: {pre: "", suf: ""}, y: {pre: "", suf: ""}}
        if (options.ticks.format.x) {
          for (let k in options.ticks.format.x) {
            format.x[k] = options.ticks.format.x[k]
          }
        }
        if (options.ticks.format.y) {
          for (let k in options.ticks.format.y) {
            format.y[k] = options.ticks.format.y[k]
          }
        }
        o.ticks.format = format
        o.ticks.user_set = true
      } else {
        o.ticks = {
          format: {
            x: {pre: "", suf: ""},
            y: {pre: "", suf: ""},
          },
          count_x: dataset.x.length,
          count_y: dataset.y.length,
          user_set: false,
        }
      }
      if (options.show_zeroes === undefined) {
        o.show_zeroes = true
      }
      if (options.hovertooltip === undefined) {
        o.hovertooltip = true
      }
      return o
    }
  },
  methods: {
    setSvg () {
      let size = this.get("size")
      let id = this.get("selector")
      let svg = d3.select(`#${id}`)
          .attr("height", "100%")
          .attr("width", "100%")
          .attr("x", 0)
          .attr("y", 0)
          .attr("viewBox", `0 0 ${size.width} ${size.height}`)
          .attr("preserveAspectRatio", "none")
      this.set({svg: svg})
    },
  },
  oncreate () {
    this.setSvg()
  },
  components: {
    LineChart,
    BarChart,
    PieChart,
    HoverToolTip,
  }
}
</script>


<style scoped>
.svelte-chart-container {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
}
h3 {
  margin: 0;
}
</style>
