<div class="pie-chart-container">
  {{ yield }}
</div>

<script>
var d3 = require("d3")

export default {
  data () {
    return {
      dataset: {},
      size: {},
      selector: "",
      svg: undefined,
      scales: undefined,
      axes: undefined,
      options: {},
    }
  },
  methods: {
    drawWedges () {
      let svg, size, data, scales, r, ir
      svg = this.get("svg")
      size = this.get("size")
      data = this.get("dataset")
      scales = this.get("scales")
      data.colors = []
      let wedges = d3.pie()(data.y)
      data.wedges = wedges
      let arc = d3.arc().innerRadius(size.innerRadius).outerRadius(size.radius)
      data.arc = arc
      let g = svg.append("g")
        .attr("transform", `translate(${size.width / 2},${size.height / 2})`)
      g.selectAll("path").data(wedges)
        .enter().append("path")
          .attr("class", "pie-slice")
          .attr("fill", (d,i) => {
            data.colors.push(d3.schemeCategory20[i])
            return d3.schemeCategory20[i]
          })
          .attr("d", (d) => arc(d))
    },
    drawKey () {
      let svg, data, size, key_block_spacing, key_size, o
      svg = this.get("svg")
      data = this.get("dataset")
      size = this.get("size")
      o = this.get("options")
      key_block_spacing = 15
      key_size = 10
      // too many items for the svg height.
      if ((size.height - 2 * size.margin) < (data.y.length * 15)) {
        key_block_spacing = (size.height - 2 * size.margin) / data.y.length
        key_size = key_block_spacing - 2
      }
      let g = svg.append("g")
          .attr("transform", `translate(${size.margin}, ${size.margin})`)
        .selectAll("g").data(data.x)
          .enter().append("g")
            .attr("class", "key-block")
            .attr("transform", (d,i) => `translate(0, ${i * key_block_spacing})`)
      g.append("rect")
        .attr("width", key_size)
        .attr("height", key_size)
        .attr("x", 0)
        .attr("y", -key_size)
        .attr("fill", (d,i) => data.colors[i])
      g.append("text")
        .attr("x", (key_size + 5))
        .text((d,i) => `${o.ticks.format.x.pre}${d}${o.ticks.format.x.suf} - 
          ${o.ticks.format.y.pre}${data.y[i]}${o.ticks.format.y.suf}`)
        .attr("font-size", key_size)
    },
  },
  oncreate () {
    let selector = this.get("selector")
    let s = this.get("size")
    s.radius = (s.width > s.height) ? (s.height - s.margin * 2) / 2 : (s.width - s.margin * 2) / 2
    s.innerRadius = 0
    this.set({
      svg: d3.select(`#${selector}`),
    })
    this.drawWedges()
    this.drawKey()
  },
}
</script>

<style>
.key-block text {
  font-family: Avenir, Arial, sans-serif;
  dominant-baseline: text-after-edge;
}
.pie-chart-container {
}
</style>
